.cabecalho{
    width: 100%;
    padding: 3rem 9%;
    background: #171423;
    backdrop-filter : blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt{
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-txtoo );
    font-family: "Poppins", sans-serif;
}

.menu{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-txtoo );
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}