.menu{
    display: flex;
    width: 100%;
    height: 40px;
}

.submenu {
    height: 100%;
    width: 80%; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.selecionado {
    border: 1px solid #4a4a8a;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: white;
    color: #4a4a8a;
    outline: none;
}

.juncao {
    position: relative;
    width: 80%;
}

/* Campo de texto */
.envio {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #4a4a8a;
    border-radius: 8px;
    outline: none;
    color: #4a4a8a;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    border: none;
    border-radius: 0 8px 8px 0;
    color: #4a4a8a;
    cursor: pointer;
}

.formulario{
    border-radius:6px;
    border: 1px solid white;
    padding: 6px;
    color:#4a4a8a;
    background-color: white;
}

.Sessao{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    top: 40px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3em;    
}

.wrapper Card{
    transition: .35s;
    cursor: pointer;
}

.wrapper:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

.nave{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 6em;

}